.container {
  /* background: rgb(233, 189, 190);
  background: linear-gradient(
    180deg,
    rgba(233, 189, 190, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
  background: white;
}
.banner {
  background: linear-gradient(90deg, rgba(232,250,251,1) 0%, rgba(100,180,255,1) 0%);
  min-height: 30vh;
  
}

.bContainer {
  display: flex;
}

.profContainer {
  min-height: 70vh;
}

.profileTag {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 15px;
  max-width: 40%;
}

.profCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  align-items: center;
  margin-left: 4rem;
  z-index: 10;
  min-height: 20rem;
  /* width: 20rem; */
  background: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  border-width: 2px;
}

.about {
  font-size:12px;
}
.reqContainer {
  display: flex;
  flex-direction: column;
  float: right;
  width: 100%;
}

.left {
  display: flex;
}

.right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.about {
  /* position: absolute; */
}

.text {
  position: inline
}


img {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: red;
  object-fit: cover;
}
