.viewContainer {
  display: flex;
  padding: 100px 50px 0px 50px; 
}

.backgroundColor {
  background-color: white;
  position: absolute;
  top: 170px;
  bottom: 0%;
  right: 0%;
  left: 0%;
}

.menuBar {
  position: absolute;
  z-index: 5;
  background-color: whitesmoke;
  padding: 8px 350px;
  top: 170px;
  left: 0%;
  width: 100%;
  height: 50px;
}

.menuBar button {
  min-width: 90px;
  min-height: 35px;
  font-size: 1.1rem;
  margin-right: 80px;
  padding: 5px;
  border: none;
  outline: none;
  background-color: whitesmoke;
  cursor: pointer;
}

.menuBar button:focus {
  color: #1266F1;
  text-decoration: underline;
  font-size: 1rem;
} 

.menuBar button:hover {
  color: #1266F1;
  font-size: 1rem;
}

.profileCard {
  width: 250px;
  min-height: 300px;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  position: absolute;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.profileCard h3 {
  margin-bottom: 25px;
}

.profileCard h4 {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
}

.profileCard p {
  font-size: 0.9rem;
  font-weight: 450;
  color: #1266F1;
  margin-bottom: 10px;
}

.profileCard button {
  padding: 3px;
  min-width: 80px;
  text-align: center;
  border: none;
  border-radius: 3px;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.profileCard .following {
  color: black;
  background-color: white;
}

.profileCard .follow {
  color: white;
  background-color: #1266F1;
}

.profileCard button:hover {
  filter: brightness(0.95);
}

.profImg{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 10px auto;
}

.profImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutContainer {
  margin-left: 300px;
  position: relative;
  z-index: 10;
}

.skillsContainer {
  margin-left: 300px;
  margin-top: 150px;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.skillsContainer h4 {
  border:solid #1266F1;
  color: #1266F1;
  border-radius: 20px;
  padding: 8px;
  text-align: center;
  min-width: 100px;
  margin: 10px;
  font-weight: 500;
}

.connectContainer {
  margin-left: 300px;
  position: relative;
  z-index: 10;
}

.connectContainer a {
  margin-right: 30px;
  color: #1266F1;
  font-size: 1.5rem;
}

.connectContainer p {
  margin: 10px auto;
}

.connectContainer p i {
  color: #1266F1;
  font-size: 1.5rem;
}

.followContainer {
  margin-left: 300px;
  height: 500px;
  width: 500px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
}

.followContainer h4 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 3px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 30px;
  min-width: 330px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
}

.followContainer h4:hover {
  filter: brightness(0.97);
}

.followProfImg {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 50px;
  margin-right: 50px;
}

.followProfImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reqContainer {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 100;
}