.container{
    display: flex;
    width:100%;
}

.reqCard{
    background:white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    min-width:400px;
    display: flex;
    gap: 1.5rem;
}

.reqCard .menteeInfo {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.menteeInfo p {
    font-size: 100;
}


.profImg{
    width: 80px;
    height: 80px;
    display: flex;
    float:left;
    align-items: center;
    border-radius: 50%;
}

.profImg img {
    width: 50%;
    height: 50%;
    margin-left: 1rem;
    object-fit: cover;
}
.flwrName {
    min-width: 10rem;
}
.actionArea{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
    /* background:green; */
}

.accept {
    color: #68D6C5;
    background:#F1FBFA;
    cursor: pointer;
    width: 5rem;
    height: 2rem;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.reject {
    color: #FB9E85;
    background: #FEF3F1;
    cursor: pointer;
    width: 5rem;
    height: 2rem;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
}

