@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  overflow-x: hidden;
  /* background: linear-gradient(90deg, rgba(232,250,251,1) 0%, rgba(100,180,255,1) 0%);  */
   background: rgb(63,125,251);
background: linear-gradient(90deg, rgba(63,125,251,1) 0%, rgba(70,127,252,0.7917367630646008) 100%); 
}