.signupmentorContainer{
    background-color: #eee;
  width: 100% !important;
  height: 100vh;
  /* padding-top: 120px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoContainer,.formContainer{
  flex-grow: 0.5;
}
.logoContainer{
  background-color: #1266F1;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.logoContainer i{
  font-size: 6em;
  color: #eee;
}
.formContainer{
  width: 100%;
  height: 100%;
  /* background-color: grey; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formContainer form{
  display: flex;
  flex-direction: column;
  min-width: 70%;
  min-height:300px ;
  /* background-color: green; */
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.formContainer h1{
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.8;
}
.formContainer p{
  margin-bottom: 30px;
   color: hsl(0, 0%, 60%);
}
.formContainer a{
  text-decoration: none;
  font-weight: 600;
  color: #1266F1;
}
.formContainer input[type="email"],
.formContainer input[type="password"],
.formContainer input[type="text"],
.formContainer input[type="tel"]

{
  min-width: 80%;
  height: 50px;
  border-radius: 7px;
  padding: 10px;
  outline: none;
  border: none;
   color: hsl(0, 0%, 60%);
}
.chooseYear,.chooseDep{
  min-width: 80%;
}
label[for="year"],label[for="department"]{
  margin-right: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  min-width:80% ;
}


select{
  min-width: 100px;
  min-height: 20px;
  text-align: center;
  font-size: 1rem;
}
.formContainer input[type="submit"]{
  width: 200px;
  height: 40px;
  border-radius: 7px;
  outline: none;
  background-color: #1266F1;
  color: #eee;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 600;
}

.otherOption{
  margin-bottom: 30px;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.otherOption p{
  margin: 20px 0;
}
.signupBtn{
    width: 200px;
  height: 40px;
  border-radius: 7px;
  outline: none;
  background-color: #eee;
  color: #1266F1;
  border:2px solid #1266F1;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 200ms ease-in;
}

.signupBtn:hover{
  background-color: #5185d8;
  color: #eee;
  border:2px solid #5185d8;

}


@media screen and (max-width:991px){

  .logoContainer{
    flex-grow: 0.25;
    max-width: 25%;
  }
  .formContainer{
    flex-grow: 0.75;
    min-width: 75%;
  }
}
@media screen and (max-width:500px){

  .logoContainer{
    display: none;
  }
}